@keyframes bg-transparent {
    from {
        opacity: 1.7;
        z-index: 1.7;
    }

    to {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes animate-logo {
    0% {
        top: 45%;
        left: 45%;
        transform: translate(-50%, -50%);
        transform: scale(3);
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(200%) contrast(100%);
        position: fixed;
        z-index: 999;
    }

    55% {
        top: 45%;
        left: 45%;
        transform: translate(-50%, -50%);
        transform: scale(3);
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(200%) contrast(100%);
        position: fixed;
        z-index: 999;
    }

    100% {
        top: 45px;
        left: 45px;
        transform: scale(1);
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(200%) contrast(100%);
        position: fixed;
        z-index: 999;
    }
}

@keyframes animate-email-success {
    0% {
        bottom:-200px;
    }

    100% {
        bottom: 50%;
        left: 50%;
        margin-left: -193px;
        margin-bottom:-37px;
    }
}

@keyframes slide {
    100% { right: 0; }
}