.board-header, .board, .status-header, .status-bar, .more-dets {
    display: flex;
}

.board {
    justify-content: space-between;
    align-items: start;

}

.status {
    width:23%;
}

.status-header {
    justify-content: space-between;
}

.single-task {
    background: white;
    border-radius: 30px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    padding: 20px;
}

.category {
    border-radius: 8px;
    background: gray;
    display: inline-block;
    padding: 5px 8px;
    font-size: 15px;
    text-align: center;
    color: white;
    margin-bottom: 8px;
}

.title {
    font-weight: 700;
    color: #4589FF;
    font-size: 19px;
}

.desc {
    margin: 8px 0;
}