.menu-bar{
    display: flex;
    flex-direction: row;
}
.search-bar{
display: flex;
justify-content: center;
align-items: center;
width: 251px;
height: 51px;
border: 1px solid;
border-radius: 10px;
margin-right: 35px;
}

.search-bar input{
    border: none;
    border-right: 1px solid;
    border-color: #D1D1D1;
    margin-right: 20px;
    background-color: f9f9f9;
    font-size: 16px;
}

.add-task-btn button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 138px;
    height: 51px;
    background: #4589FF;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 23px;
}

.status-bar{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.status{
    display: flex;
    flex-direction: column;  
    width: 250px;  
}

.status-headline{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 23px;
    font-weight: 700;
    color: #42526E;
    width: 217px;
    margin-left: 10px;
    margin-top: 50px;
}

.status img{
border: #4589FF 2px solid;
border-radius: 5px;
padding: 5px;
height: 15px;
}

.task-container-detail{
    background: #FFFFFF;    
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    padding: 18px;
    margin-right: 26px;
    margin-top: 26px;
}

.category{
    padding: 4px 20px;
    width: 80px;
    border-radius: 10px;
    color: white;
}

.category-Design{
    background: #FF7A00;
    
}

.category-Sales{
    background: #FC71FF;
}

.category-Backoffice{
    background: #1FD7C1;
}

.category-Media{
    background: #FFC701;
}

.category-Marketing{
    background: #0038FF;
}

.headline-task-detail{
    color: #4589FF;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-top: 8px;
}

.text-task-detail{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.progress-bar-task-detail{
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;  
}

.progress-bar{
    width: 158px;
    height: 10px;
    background-color: lightgray;
    margin-right: 4px;
}

.already-done{
    width: 84px;
}

.footer-task-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
}

.selected-person {
    display: flex;    
}

.initials-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0038FF; 
    color: #f9f9f9;   
    border-radius: 100%;
    /* margin-left: -16px; */
    margin-right: -6px;
    margin-top: 10px;
    border: none;
    width: 35px;
    height: 35px;
}

.bg1{
    background-color: lightskyblue;
}

.bg2{
    background-color: #FC71FF;
}

.bg3{
    background-color: green;
}

.priority-task-detail img{
    border: none;
    margin-top: 10px;
}