.menu-bar{
    display: flex;
    flex-direction: row;
}
.search-bar{
display: flex;
justify-content: center;
align-items: center;
width: 251px;
height: 51px;
border: 1px solid;
border-radius: 10px;
margin-right: 35px;
}

.search-bar input{
    border: none;
    border-right: 1px solid;
    border-color: #D1D1D1;
    margin-right: 20px;
    background-color: f9f9f9;
    font-size: 16px;
}

.add-task-btn button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 138px;
    height: 51px;
    background: #4589FF;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 23px;
}

.status-bar{
    display: flex;
    justify-content: space-between;
}

.status{
    display: flex;
    flex-direction: column; 
    width: 35%; 
    align-items: center;
}

.status-headline{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 23px;
    font-weight: 700;
    color: #42526E;
    width: 220px;
    margin-left: 10px;
    margin-top: 50px;
}

.status img{
border: #4589FF 2px solid;
border-radius: 5px;
padding: 5px;
height: 15px;
}

.task-container{
    min-height: 300px;
    width: 250px;
}

.task-container-detail{
    background: #FFFFFF;    
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    padding: 18px;
    margin-right: 26px;
    margin-top: 26px;
}

.task-container-detail:hover{
    cursor: pointer;
}

.category{
    padding: 4px 20px;
    width: 80px;
    border-radius: 10px;
    color: white;
}

.headline-task-detail{
    color: #4589FF;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-top: 8px;
}

.text-task-detail{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.progress-bar-task-detail{
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;  
}

.progress-bar{
    height: 10px;
    background-color: lightgray;
    margin-right: 4px;
    width: 100%;
}

#myBar {
    height: 10px;
    background-color: #4589FF;
}

.already-done{
    width: 110px;
}

.footer-task-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
}

.selected-person {
    display: flex;    
}

.initials-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0038FF; 
    color: #f9f9f9;   
    border-radius: 100%;
    margin-right: -6px;
    margin-top: 10px;
    border: none;
    width: 35px;
    height: 35px;
}

.bg1{
    background-color: lightskyblue;
}

.bg2{
    background-color: #FC71FF;
}

.bg3{
    background-color: green;
}

.priority-task-detail img{
    border: none;
    margin-top: 10px;
}

.detail-popup{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 24px;
    padding-right: 17px;
    padding-bottom: 24px;
    background-color: #f9f9f9;
    width: 400px;
    border-radius: 30px;
    overflow-y: auto;
    max-height: 100%;
}

.names-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.names{
    display: flex;
    flex-direction: row;
    align-items: center;  
    margin-top: 12px;
    border: none;
}

.name{
    margin-left: 20px;
    margin-top: 12px;
}

.edit-btn{
    display: flex;
    justify-content: end;
    margin-right: 24px;
}

.edit-btn:hover{
    cursor: pointer;
}

.text-fix{
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    color: black;
    margin-top: 28px;
}

.text-fix-priority{
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    color: black;
}

.task-text{
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
}

.close-x{
    display: flex;
    justify-content: space-between;
    margin-right: 24px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.close-x button{
    border: none;
    background-color: #f9f9f9;
    height: 22px;
}

.close-x button:hover{
    cursor: pointer;
}

.close-x img{
    margin-right: 8px;
}

.close-x img:hover{
    cursor: pointer;
}

.detail-popup h1{
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    color: black;
    margin-top: 12px;
}

.priority-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 28px;
}

.priotity-container img{
    width: 35px;
    height: 35px;
    margin-left: 8px;
}

.priority-text{
    font-size: 19px;
    font-style: normal;
}

.priority-level{
    display: flex;
    justify-content: center;    
    width: 85px;
    border: none;
    border-radius: 24px;
    margin-left: 12px;
}

.priority-level img{
    margin-left: 8px;
}

.Urgent{
    background: #FFD2D2;
}

.Medium{
    background: #FFEBB9;
}

.Low{
    background: green;
}

.d-none{
    display: none !important;
}

#subtasks{
    display: flex;
    flex-direction: column;
}

.details{
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    overflow-y: scroll !important;
    min-height: 100%;
    height: auto !important;
    margin: auto;
}

.edit-task{
    width: 100%;
    margin-top: 12px;
}

.edit-task input{
    border: 1px solid;
    border-radius: 3px;
    padding: 5px;
    width: 92%;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 19px;
}

.edit-task textarea{
    margin-top: 12px;
    font-size: 19px;
    width: 95%;
}

.priority-edit{
    display: flex;
    justify-content: left;
}

.priority-edit button{
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 8px;
    font-size: 19px;
    padding: 12px;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);

}

.priority-edit button img{
    margin-left: 16px;
    margin-right: 8px;
}

.ok-btn{
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4589FF;
    width: 20%;
    border-radius: 6px;
    padding: 12px;    
}

.ok-btn:hover{
    cursor: pointer;
}

.ok-btn button{
    margin-right: 8px;
    font-size: 19px;
    background: #4589FF;
    border: none;
    color: white;
}

.ckeckbox-in-edit{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

@media(max-width: 1350px){
    .status-bar{
        flex-wrap: wrap;
    }
}

@media(max-width: 1140px){
    .details{
        bottom: 75px;
    }

    .menu-bar{
        justify-content: center;
    }

    .status-bar{
        justify-content: center;
        align-items: center;
    }

    .status{
        justify-content: center;
    }
}

@media(max-width:800px){
    .status-bar{
        flex-direction: column;
    }
}

@media(max-width:550px){
    .menu-bar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search-bar{
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
        margin-right: 0;
    }

    .add-task-btn{
        display: flex;
        justify-content: center;
    }

    .priority-edit{
        justify-content: space-around;
    }

    .priority-edit button{
        font-size: 12px;
        padding: 6px;
    }

    .priority-edit button img{
        margin-left: 6px;
    }
}

@media(max-width: 370px){
    .details{
        bottom: 110px;
    }
}