<form onsubmit="saveTheTask(); return false;" id="form-id-add-task">
    <div class="new-task-container">
      <div class="input-field bigger">
        <input type="text" name="task-title" placeholder="Enter a title" id="task-title" required>
      </div>
      <div class="form-opener-container" id="contact-checkboxes">
        <div class="form-opener flex" id="form-opener-contacts" onclick="showSelectDetails('opener-contacts');">
          Select contacts to assign <img src="assets/img/arrow-down.svg" alt="Arrow"></div>
        <div class="opener" id="opener-contacts"></div>
      </div>
      <div class="input-field">
        <span class="input-title">Due date</span>
        <div class="flex posi">
          <input type="date" name="task-date" placeholder="dd/mm/yyyy" id="task-date" onfocus="this.showPicker()" required>
          <img src="assets/img/calendar.svg" alt="Calendar">
        </div>
      </div>
      <div class="form-opener-container" id="category-checkboxes">
        <span class="input-title">Category</span>
        <div class="form-opener flex" id="form-opener-category" onclick="showSelectDetails('opener-category');">
          <span id="selectedText">Select task category<span class="circle"></span></span> <img src="assets/img/arrow-down.svg" alt="Arrow">
        </div>
        <div class="opener" id="opener-category"></div>
      </div>
      <div class="input-field flex">
        <button name="Urgent" onclick="selectedElement(1);" id="status-1" type="button" class="priority urgent">Urgent <span><img src="assets/img/urgent.svg" alt="Urgent"></span></button>
        <button name="Medium" onclick="selectedElement(2);" id="status-2" type="button" class="priority medium">Medium <span><img src="assets/img/medium.svg" alt="Medium"></span></button>
        <button name="Low" onclick="selectedElement(3);" id="status-3" type="button" class="priority low">Low <span><img src="assets/img/low.svg" alt="Low"></span></button>
      </div>
      <div class="input-field">
        <span class="input-title">Description</span>
        <textarea name="task-decription" id="task-decription" required></textarea>
      </div>
      <div class="form-opener-container" id="subtask-checkboxes">
        <span class="input-title">Subtasks</span>
        <div class="form-opener flex" id="form-opener-subtasks">
          <input type="text" name="add-subtask" placeholder="Add new subtask" id="add-subtask">
          <img src="assets/img/close.svg" onclick="clearSubTask();" width="25" height="25" class="blueone" alt=""><span class="divider"></span><img src="assets/img/ok.svg" onclick="addSubTaskToList();" width="25" height="25" class="blueone" alt="">
        </div>
        <div class="opener" id="opener-subtasks"></div>
      </div>
    </div>
    <div class="action-buttons">
      <a href="javascript:void(0);" class="cta-button" onclick="location.reload();" title="Clear">Clear <img src="assets/img/close.svg" width="25" height="25" alt="" class="gray"></a>
      <button>Create task <img src="assets/img/ok.svg" width="25" height="25" alt=""></button>
    </div>
  </form>
